<div ng-cloak="" class="inputdemoErrors" ng-app="myEnsamble">
  <div layout="row" >
    <md-sidenav class="bg-sidenav" layout-align="start center" md-is-locked-open="true"  flex="35">
      <img src="componentes/imagenes/logoC.png" alt="logo Soft House">
      <h2>Solicitud Estudiantil</h2>
    </md-sidenav>

    <md-content flex>
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-4">
            <md-input-container md-padding="5px" class="md-block">
              <label>Nombre:</label>
              <input required="" name="clientName" ng-model="empresaCtrl.nombre" ng-pattern="/^[a-zA-Z ]*$/">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message-exp="'required'">Esto es requerido.</div>
                <div ng-message-exp="'pattern'">Sólo se permiten letras.</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container md-padding="5px" class="md-block">
              <label>Apellido 1:</label>
              <input required="" name="clientName" ng-model="empresaCtrl.apellido" ng-pattern="/^[a-zA-Z ]*$/">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message-exp="'required'">Esto es requerido.</div>
                <div ng-message-exp="'pattern'">Sólo se permiten letras.</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container md-padding="5px" class="md-block">
              <label>Apellido 2</label>
              <input required="" name="clientName" ng-model="empresaCtrl.segundo" ng-pattern="/^[a-zA-Z ]*$/">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message-exp="'required'">Esto es requerido.</div>
                <div ng-message-exp="'pattern'">Sólo se permiten letras.</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div>
                <label for="">Género</label>
              </div>
              <md-radio-group ng-model="data.group1">   
                <div class="col-md-4">
                  <md-radio-button value="Masculino">Masculino</md-radio-button>
                </div>
                <div class="col-md-4">
                  <md-radio-button  value="Femenino">Femenino</md-radio-button>
                </div>
              </md-radio-group>
          </div>
          <div class="col-md-6">
            <md-input-container  class="md-block">
              <label>Fecha de nacimiento</label>
                <md-datepicker  name="clientDateOfBirth" ng-model="empresaCtrl.nacimiento" md-placeholder="Enter date" required></md-datepicker>
                <div ng-messages="projectForm.clientDateOfBirth.$error">
                  <div ng-message-exp="'required'">Esto es requerido. Por favor, seleccione una fecha del calendario!</div>
                </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <md-input-container>
              <label>Correo de Cenfotec</label>
              <input required="" type="email" name="clientEmail" ng-model="empresaCtrl.correo" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="projectForm.clientEmail.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Su correo electrónico debe tener entre 10 y 100 caracteres y parecer una dirección de correo electrónico.
                </div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-6">
            <md-input-container class="md-block">
              <label>Carrera que cursa:</label>
              <md-select name="type" ng-model="empresaCtrl.carrera" required="">
                 <md-option value=""></md-option>
              </md-select>
              <div ng-messages="projectForm.description.$error">
                <div ng-message="required">Esto es requerido</div>  
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
            <div class="container-fluid">
              <md-input-container  class="md-block">
              <label>Indique los cursos que ha llevado</label>
              <input required="" name="clientName" ng-model="empresaCtrl.cursosLlevados">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message-exp="'required'">Esto es requerido.</div>
                <div ng-message-exp="'pattern'">Sólo se permiten letras.</div>
              </div>
            </md-input-container>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Foto de perfil</label>
              <md-input-container class="md-block">
                <input type="file"  ng-model="empresaCtrl.picture">
              </md-input-container>
            </div>
          <div class="col-md-6">
            <label>Curriculum</label>
              <md-input-container class="md-block">
              <input type="file"   ng-model="empresaCtrl.curriculum">
              </md-input-container>
            </div>
        </div>
        <div class="row">
          <div class="formActionButton">
            <md-button class="md-padding register" ng-click="empresaCtrl.save()" type="submit">Enviar</md-button>
          </div>
        </div>

      </div>
    </md-content>
  </div>
</div>
<div ui-view></div>
